<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <script type="text/javascript">
        CONFIG = { };
        CONFIG.serviceName = '/${serviceName}'; 
    </script>
    <script type="text/javascript" src="js/dojo/dojo.js.uncompressed.js"></script>
    <script type="text/javascript" src="js/application.js"></script>
    <script type="text/javascript">
      var config = {
        contextPath: '$contextPath'
      };
    </script>
  
  </head>
  <body>
    <div id="body"></div>
    #if($error)
      <p>$error</p>
    #end    
    <pre id="log"></pre>       
  </body>
</html>